:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-main: #d31c57;
  --color-main-dark: #99153f;
  --color-main-light: #f08fae;
  --color-dark: #1c1c1e;
  --color-light: #f3f3f3;

  --color-linear-main: #fad1d7;
  --color-linear-accent: #f8db87;
}

html {
  font-size: 62.5%;
}

body {
  color: #1c1c1e;
  background: linear-gradient(to bottom right, var(--color-linear-main), var(--color-linear-accent));
  background-repeat: no-repeat;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 2rem;
  text-align: center;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}

a {
  font-weight: 500;
  color: var(--color-dark);
  text-decoration: inherit;

  &:hover {
    color: #3c3c3f;
  }
}

header {
  padding: 2rem;
}

h1 {
  font-size: 4.8rem;
  margin: 0;
  color: var(--color-main);
}

.game {
  flex: 1;
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

  &__board {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

button {
  border-radius: .5em;
  border: .05em solid var(--color-main-dark);
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-main);
  color: var(--color-light);
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    background-color: var(--color-main-dark);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__row {
    display: flex;
  }
}

.moves {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  &__icon {
    width: 5rem;
    height: 5rem;
    fill: var(--color-main-light);
    border: none;
    background-color: transparent;
    padding: 0;

    &:hover {
      fill: var(--color-main);
      background-color: transparent;
    }
    &:focus {
      outline: none;
    }
  }
}

.square {
  width: 6rem;
  height: 6rem;
  margin: .2rem;
  padding: 0;
  background-color: var(--color-light);
  color: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border: none;
  border-radius: .2em;

  &:hover {
    background-color: #e3e3e3;
  }
}

@media all and (min-width: 650px) {
  button {
    max-width: 35rem;
  }

  .square {
    width: 8rem;
    height: 8rem;
    font-size: 5rem;
  }
}

.popup {
  background-color: var(--color-light);
  border: .1em solid var(--color-main-light);
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-main);
  border-radius: .5em;
  position: absolute;
  width: calc(100% - 6rem - 4rem);
  height: 50vh;
  margin: 2rem;
  padding: 5rem 3rem;
  max-width: 50rem;
  max-height: 60rem;
  inset: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__btn {
    position: absolute;
    top: .3rem;
    right: 1.5rem;
    cursor: pointer;
  }
}


::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #f3f3f3;
}

::-webkit-scrollbar-thumb {
  background: #9a9aa3;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c3c3f;
}